<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fallelove?serverTimezone=Asia/Taipei</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">850811</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">validate</property><!--驗證SQL指令是否錯誤,如不加跑到遇到錯才發生意外,開發時使用-->

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="ProductMyFavorite.ProductMyFavoriteVO"/>
        <mapping class="ProductOrder.ProductOrderVO"/>
        <mapping class="ProductOrderDetail.ProductOrderDetailVO"/>
        <mapping class="ProductPicture.ProductPictureVO"/>
        <mapping class="Cart.CartVO"/>

    </session-factory>
</hibernate-configuration>
